kits21/data/*/imaging.nii.gz
*__pycache__*

.idea

kits21/data/*/segmentation_samples*
regenerates.sh
kits21/data/*/*segmentation_samples*

*.egg-info
*.vscode*

*inter_rater_disagreement.json
*inter_rater_variability.json
*tolerances.json

*temp.tmp

examples/submission/dummy_submission/test_docker.tar.gz